In [1]:
import os
os.chdir('/Users/Avi/Documents/UCD/BA Prac/OD')

In [2]:
import pandas as pd
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.preprocessing import StandardScaler

In [3]:
homesaledata = pd.read_csv("home_sale_data.csv")

In [4]:
homesaledata.head()

    latitude  longitude                  close_date   close_price
0   1.501986  86.350685  2014-08-16 22:25:31.925431  1.302246e+06
1  36.367095 -98.664280  2014-08-05 06:34:00.165876  1.475045e+05
2  36.599284 -97.924700  2014-08-12 23:48:00.887510  1.374006e+05
3  67.994791  64.688589  2014-08-17 05:27:01.404296 -1.411200e+04
4  36.647982 -97.866100  2014-08-09 04:00:40.358242  2.391053e+05

In [5]:
homesaledata['close_date'] = pd.to_datetime(homesaledata['close_date'])

In [6]:
homesaledata['year'],homesaledata['month'],homesaledata['day'] = homesaledata['close_date'].dt.year,homesaledata['close_date'].dt.month,homesaledata['close_date'].dt.day

In [7]:
homesaledata.head()

,latitude,longitude,close_date,close_price,year,month,day
0,1.501986,86.350685,2014-08-16 22:25:31.925431,1.302246e+06,2014,8,16
1,36.367095,-98.664280,2014-08-05 06:34:00.165876,1.475045e+05,2014,8,5
2,36.599284,-97.924700,2014-08-12 23:48:00.887510,1.374006e+05,2014,8,12
3,67.994791,64.688589,2014-08-17 05:27:01.404296,-1.411200e+04,2014,8,17
4,36.647982,-97.866100,2014-08-09 04:00:40.358242,2.391053e+05,2014,8,9

In [8]:
y = homesaledata["close_price"]

In [9]:
features = homesaledata.drop(['close_price','close_date'],axis = 1)

In [10]:
features.head()

    latitude  longitude  year  month  day
0   1.501986  86.350685  2014      8   16
1  36.367095 -98.664280  2014      8    5
2  36.599284 -97.924700  2014      8   12
3  67.994791  64.688589  2014      8   17
4  36.647982 -97.866100  2014      8    9

In [11]:
features.describe()

           latitude     longitude          year         month           day
count  88042.000000  88042.000000  88042.000000  88042.000000  88042.000000
mean      34.559745    -93.470194   2014.161128      6.692726     16.152268
std       13.983900     31.194818      0.367805      3.166693      8.893484
min      -89.938989   -179.891580   2013.000000      1.000000      1.000000
25%       36.200312    -98.481499   2014.000000      4.000000      8.000000
50%       36.385215    -98.165490   2014.000000      7.000000     17.000000
75%       36.544719    -97.967260   2014.000000      9.000000     24.000000
max       89.984841    179.969440   2016.000000     12.000000     31.000000

In [12]:
y.describe()

count    8.804200e+04
mean     2.663684e+06
std      1.543381e+07
min     -9.995300e+04
25%      1.233064e+05
50%      1.816143e+05
75%      2.841568e+05
max      1.009998e+08
Name: close_price, dtype: float64